::placeholder {
	color:#000;
	opacity: 0.2;
}

body {
	font-family: Roboto, "Noto Sans TC",-apple-system, BlinkMacSystemFont, 
	"Segoe UI", "Microsoft JhengHei", 
	"Helvetica Neue", Arial, sans-serif;
}

.container {
	max-width: 1440px;
	padding:80px 5%;
	margin: 0 auto;
	@media (max-width:1440px) {
		padding:80px 10%;
	}
	@media (max-width:992px) {
		padding-left: 5%;
		padding-right: 5%;
	}
	@media (max-width:767px) {
		padding:40px 5%;
	}
}

.pages {
	display: flex;
	align-items: center;
	border-top: 1px solid #555555;
	border-bottom: 1px solid #555555;
	.back,.next {
		font-size: 19px;
		line-height: 30px;
		a {
			padding: 11px 12px;
			display: block;
		}
		:hover {
			background: #F2F2F2;
		}
		
	}
	.back {
		border-left: 1px solid #555555;
	}
	.next {
		border-right: 1px solid #555555;
	}
	.per-page {
		font-size: 18px;
		line-height: 27px;
		border-left: 1px solid #555555;
		a {
			display: block;
			padding: 12px 16px;
		}
		:hover {
			background: #F2F2F2;
		}
	}
	.last {
		a {
			border-right: 1px solid #555555;
		}
		
	}
	.active {
		background: #000;
		a {
			color: #fff;
		}
		:hover {
			background: #000;
			color: #fff;
		}
	}
	@media (max-width:767px) {
		.per-page,.back,.next {
			font-size: 16px;
			line-height: 24px;
		}
	}
}

.page-title-left {
	h1 {
		text-align: left;
		color: #000;
		padding-left: 16px;
		border-left: 8px solid $secondary-color;
		margin-bottom: 32px;
	}
	.filters {
		display: flex;
		@media (max-width:1200px) {
			flex-direction: column;
		}
	}
	.filter {
		display: flex;
		align-items: center;
		margin-bottom: 40px;
		label {
			padding-right: 16px;
		}
		select {
			width: 304px;
			border: 1px solid #CED4DA;
			padding: 6px 12px;
			appearance: none;
			background-image: url(https://cdn-icons-png.flaticon.com/512/57/57055.png);
			background-position: 96%;
			background-size: 10px;
			background-repeat: no-repeat;
			color: #495057;
		}
	}
	@media (max-width:1200px) {
		.filter-store-name {
			margin-top: -32px;
			margin-left: 64px;
		}
	}
	@media (max-width:992px) {
		.filter {
			select {
				width: 200px;
			}
		}
	}
}

h1,h2 {
	font-size: 48px;
	line-height: 72px;
	font-weight: 700;
	margin-bottom: 48px;
	text-align: center;
	color: $primary-color;
	@media (max-width:992px) {
		font-size: 40px;
		line-height: 60px;
		margin-bottom: 40px;
	}
	@media (max-width:767px) {
		font-size: 24px;
		line-height: 36px;
		margin-bottom: 24px;	
	}
}

p {
	line-height: 24px;
}

.header {
	background: $secondary-color;
	padding-top: 16px;
	padding-bottom: 16px;
	.container{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top:0;
		padding-bottom: 0;
	}
	h1 {
		margin-bottom: 0;
		line-height: 0;
	}
	.logo {
		width: 80px;
		margin-right: 20px;
	}
	.header-menu {
		display: flex;
		margin-left: -48px;
	}
	.per-page {
		margin-left: 48px;
		:hover {
			text-decoration: underline;
		}
	}
	a {
		color: #fff;
		font-size: 20px;
		padding: 8px;
		display: block;
		text-align: center;
	}
	@media (max-width:992px) {
		.per-page {
			margin-left: 24px;
		}
	}
	@media (max-width:767px) {
		padding-bottom: 0;
		.container {
			flex-direction: column;
			align-items: stretch;
			padding: 0;
		}
		.logo {
			margin: 0;
		}
		.header-menu {
			flex-wrap: wrap;
			margin: 0;			
		}
		.per-page {
			width: 50%;
			border: 1px solid #fff;
			margin: 0;
		}
		a {
			padding: 12px;
			font-size: 16px;
		}
	}
}

.footer {
	background: $secondary-color;
	color:#fff;
	a {
		color:#fff;
	}
	.footer-linkbar {
		display: flex;
		justify-content: space-between;
		align-content: center;
		margin-bottom: 24px;
	}
	.footer-menu {
		display: flex;
		margin-right: -48px;
	}
	.per-page {
		margin-right: 28px;
		display: flex;
		align-items: center;
		:hover{
			text-decoration: underline;
		}
	}
	.media-link {
		display: flex;
		margin-left: -32px;
	}
	.sns {
		width: 48px;
		margin-left: 32px;
	}
	.contact-methods {
		margin-bottom: 32px;
	}
	.method {
		display: flex;
		align-items: center;
		margin-bottom: 8px;
		.icon {
			font-size: 48px;
			margin-right: 16px;
		};
		p {
			font-size: 36px;
			line-height: 54px;
		}
	}
	.more-info {
		padding-top: 32px;
		display: flex;
		justify-content: space-between;
		border-top: 1px solid #fff;
	}
	.rules {
		display: flex;
	}
	.per-rule {
		margin-left: 48px;
		font-size: 16x;
		line-height: 24px;
		:hover {
			text-decoration: underline;
		}
	}
	@media (max-width:992px) {
		.footer-menu {
			margin-right: -24px;
		}
		.per-page {
			margin-right: 22px;
		}
		.sns {
			width: 40px;
			margin-left: 22px;
		}
	}
	@media (max-width:767px) {
		padding-top: 24px;
		padding-bottom: 24px;
		.footer-contact {
			display: flex;
			flex-direction: row-reverse;
			justify-content: space-between;
			align-items: flex-start;
		}
		.footer-menu {
			display: none;
		}
		.sns {
			width: 24px;
			height: 24px;
			margin-left: 8px;
		}
		.contact-methods {
			margin-bottom: 24px;
		}
		.method {
			flex-wrap: wrap;
			img {
				width: 18px;
				margin-right: 12px;
			}
			p {
				font-size: 16px;
				line-height: 24px;
			}
			.icon {
				font-size: 20px;
				margin-right: 8px;
			}
		}
		.more-info {
			flex-direction: column;
			padding-top: 16px;
			p {
				margin-bottom: 8px;
			}
			.rules {
				flex-direction: column;
				margin-bottom: -8px;
			}
			.per-rule {
				margin-left: 0;
				margin-bottom: 8px;
			}
		}
	}

}
