.container-classics-menu {
	.container-no-y-padding {
		@include pad{
			padding: 0;
		}
	}
}
.classics-menu {
	.container {
		padding: 0 12px;
	}
	.container-classics-menu {
		display: flex;
		justify-content: center;
		border-right: 1px solid #DCDCDC;
		border-bottom: 1px solid #DCDCDC;
		.per-page {
			font-size: 24px;
			width: 33.33%;
			border-left: 1px solid #DCDCDC;
			text-align: center;
		}
		a {
			text-align: center;
			display: block;
			padding: 24px 0 18px 0;
		}
		.active {
			border-bottom: 8px solid $secondary-color;
		}
		@include phone{
			.per-page {
				font-size: 18px;
			}
		}
	}
	@include phone{
		.container {
			padding:0;
		}
	}
}

.classics-optical-banner {
	display: flex;
	height: 280px;
	.header-1 {
		background-image: url(../images/product-header-1.png);
	}
	.header-2 {
		background-image: url(../images/product-header-2.png);
	}
	.header-3 {
		background-image: url(../images/product-header-3.png);
	}
	.header-4 {
		background-image: url(../images/product-header-4.png);
	}
	.header-1,.header-2,.header-3,.header-4 {
		background-position: center;
		background-size: cover;
		width: 50%;
	}
	@include pad{
		height: 200px;
	}
	@include phone{
		height: 136px;
	}
}

.classics-optical-content,.classics-sunglasses-content {
	.container {
		display: flex;
		flex-direction: column;
		align-items: center;	
	}
	.title {
		margin-bottom: 32px;
		h1 {
			font-size: 42px;
			line-height: 63px;
			color: #000;
			font-weight: 500;
			margin-bottom: 0;
		}
		p {
			font-size: 32px;
			line-height: 48px;
		}
	}
	.items {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}
	.per-item {
		width:calc((100% - 72px) / 4);
		margin-bottom: 80px;
		text-align: center;
	}
	.column-3 {
		width: 30%;
		@include laptop{
			width: 48%;
		}
	}
	.number-and-price {
		display: flex;
		justify-content: space-between;
		h2 {
			font-size: 24px;
			line-height: 36px;
			color: #000;
			font-weight: 400;
		}
		.price {
			color: $secondary-color;
			font-size: 24px;
			line-height: 36px;
			font-weight: 500;
		}
	}
	.colors {
		display: flex;
		.per-color {
			width: 24px;
			height: 24px;
			margin-right: 8px;
			border-radius: 4px;
		}
		.dark-brown {
			background:#5F3E2D;
		}
		.brown {
			background: #B75929;
		}
	}
	@include laptop{
		.per-item {
			width:calc((100% - 24px) / 2);
		}
	}
	@include phone{
		.title {
			h1,p{
				font-size: 24px;
				line-height: 36px;
			}
		}
		.items {
			justify-content: center;
		}
		.per-item {
			width: 80%;
			margin-bottom: 24px;
			object-fit: cover;			
			}
		}
	}